# Environment Configuration Template

DB_NAME=local_db_name
DB_USER=root
DB_PASSWORD=root
DB_HOST=localhost
# DB_PREFIX=wp_

WP_ENV=development
WP_HOME=http://my-project.local
# WP_SITEURL points to the new WordPress core directory /wp
WP_SITEURL=${WP_HOME}/wp

# Generate these from https://api.wordpress.org/secret-key/1.1/salt/
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'
